body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

.main-section{
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
}

.main-section, .main-section *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#leftside{
  background-color: #FFFFFF;
  height: 100vh;
  position: fixed;
  z-index: 10;
  padding: 0 100px;
  border-right: 1px solid #E9EBEC;
}

.leftside-inner{
  padding: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leftside-inner ul{
  padding-inline-start: 0px;
  text-align: center;
  border-top: 2px solid #2D98F0;
  border-bottom: 2px solid #2D98F0;
  
}

.leftside-inner li{
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #E9EBEC;
}

.leftside-inner ul li:last-child{
  border-bottom: none;
}

.leftside-inner ul li a{
  text-decoration: none;
  font-size: 15px;
  color: #767676;
  letter-spacing: 2px;
  transition: all .3s ease-in;
}

.leftside-inner ul li a:active{
  color: #30A499;
  font-weight: 600;
  border-bottom: 2px solid #30A499;
}

.leftside-inner ul li a:hover{
  color: #2D98F0;
  font-weight: 600;
  border-bottom: 2px solid #2D98F0;
  letter-spacing: 4px;
}

.profile-round{
  text-align: center;
}

.profile-round img{
  height: 120px;
  width: 120px;
  border: 2px solid #E9EBEC;
  border-radius: 50%;
  margin-bottom: 15px;
}

.footer{
  margin-top: 35px;
}

.footer p{
  font-size: 15px;
  color: #767676;
}

.footer p span{
  color:#EC5554
}

.leftside-inner h5{
  font-weight: 800;
  margin-bottom: 25px;
}

#rightside{
  background-color: #F8F8F8;
  width: 100%;
  float: left;
  min-height: 100vh;
  clear: both;
  padding: 50px;
  padding-left: 550px;
}

.subsections{
  min-height: 400px;
  border-bottom: 1px solid #E9EBEC;
  padding: 50px 0;
}

.subsections:last-child{
  border: none;
  padding-bottom: 0;
}

footer{
  height: 50px;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  background-color: #2D98F0;
  display: none;
}

.sub-subsection{
  color: #2D98F0;
  font-weight: 300;
  letter-spacing: 3px;
}

.subsection{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
}


/* first section starts */

#home{
  border: none;
  /* background-color: pink; */
  padding-top: 0;
  padding-bottom: 160px;
}

#home-left{
  padding: 25px;
}

.home-left-inner{
  height: 200px;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-right{
  border-bottom: 1px solid #E9EBEC;
}

.hero-img{
  height: 100%;
  width: 100%;
}

.home-left-inner p{
  letter-spacing: 4px;
}

.home-left-inner h4{
  letter-spacing: 3px;
  color: #EC5554;
}


.home-left-inner h1{
  font-weight: 800;
  font-size: 60px;
}

.hero-btn{
  padding: 10px 40px;
  border-radius: none;
  text-decoration: none;
}

/* social-icons */
.social-icons{
  padding-top: 10px;
  padding-bottom: 5px;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle:hover{
  background-color: #2D98F0;
  border: #2D98F0;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.1rem;
}

/* cv button */
.downloadCV{
  padding: 25px 0;
}

/* freelance button */
.freelanceProfile{
  padding: 25px 0;
}

.freelanceProfile img{
  height: 17.6px;
  width: 17.6px;
  margin-top: -5px;
}

.btn-fiverr{
  padding: 10px 10px;
  border-radius: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-fiverr:hover{
  background-color: #1DBF73;
  border-color: #1DBF73;
  color: black;
}

/* first section ends */




/* about section starts */

#about{
  margin-top: 50px;
}

.about-data{
  padding: 0;
  padding-top: 25px;
}

.about-data p{
  font-size: 15px;
  line-height: 25px;
  color: #767676;
}

.about-left{
  padding-right: 25px;
}

.about-right{
  padding-right: 25px;
}

.about-right li{
  list-style: none;
}

.about-right ul li a{
  text-decoration: none;
  color: #767676;
}

/* Box Stats */

#about .box-stats {
  padding: 20px 0 25px 40px;
  border: 1px solid #767676;
}

#about .box-stats h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

#about .box-stats h3:after {
  content: '+';
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 300;
  top: 2px;
}

#about .box-stats p {
  padding-left: 45px;
}

#about .box-stats p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background: #777;
}


/* about section ends */


/* education-part starts*/

.education-timeline{
  padding-top: 50px;
  
}

.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  /* margin: auto; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #2D98F0;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #4155B2;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .timeline-content {
  width: 100%;
  padding: 0 0 20px 50px;
  /* float: right; */
  /* background-color: #F2F3F7;
  margin-left: 27px;
  padding: 20px; */
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
  color: #2D98F0;
}

.main-timeline .description {
  margin-bottom: 0;
  color: #767676;
}

.passing-duration{
  font-weight: 300;
  font-size: 16px;
  color: #EC5554;
}

/* education-part ends */

/* service part */
.service-content{
  padding: 40px 0;
  margin-left: 0;
}

.service-card{
  height: 100%;
  padding: 30px;
  background-color: #4155B2;
}

.service-card i{
  font-size: 50px;
  margin-bottom: 25px;
  color: #E9EBEC;
}

.service-card h5{
  color: #E9EBEC;
  font-weight: 600;
}

.service-card p{
  font-size: 15px;
  color: #E9EBEC;
}



/* skill section */
.sub-sub-subsection{
  color: #EC5554;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

.skill-section{
  padding-top: 30px;
}

.skill-section h5{
  color: #767676;
}

.progress-content{
  /* background-color: #EC5554; */
  text-align: center;
}

.progress-title{
  margin-top: 40px;
}

.progress-bars{ 
  margin: auto; 
  background: #2bb0ef;
  width: 60px; 
  height: 60px; 
  transform: rotate(45deg); 
  position: relative;
}

.second-category .progress-bars{
  background: #4155B2;
}

.progress-bars h3 {
  font-size: 20px;
  line-height: 60px; 
  text-align: center;
  color: #E9EBEC;
  transform: rotate(-45deg);
}

.progress-bars:before{
  position: absolute; 
  content: ""; 
  border: solid 5px #E9EBEC; 
  border-width: 5px 0px 0px 5px; 
  width: 75px; 
  height: 75px; 
  top: -9px; 
  left: -9px; 
  bottom: -9px; 
  right: -9px; 
  z-index: 10;
}

.percent-60 .progress-bars:before{
  height: 70px;
  width: 70px;
}

.percent-65 .progress-bars:before{
  height: 60px;
  width: 60px;
}

.percent-70 .progress-bars:before{
  height: 50px;
  width: 50px;
}

.percent-75 .progress-bars:before{
  height: 40px;
  width: 40px;
}

.percent-80 .progress-bars:before{
  height: 30px;
  width: 30px;
}

.percent-85 .progress-bars:before{
  height: 20px;
  width: 20px;
}

.percent-90 .progress-bars:before{
  height: 10px;
  width: 10px;
}

.progress-bars:after{
  position: absolute; 
  content: ""; 
  border: solid 5px #2bb0ef; 
  border-width: 5px 5px 5px 5px; 
  width: 80px; 
  height: 80px; 
  top: -10px; 
  left: -10px; 
  bottom: -9px; 
  right: -9px;
}

.second-category .progress-bars:after{
  border-color: #4155B2;
}


/* clients reviews section */
#testimonials{
  padding: 70px 0;
}

.reviewcard-holder{
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews .card{
  background: #fff;
  box-shadow: 0 8px 30px -7px #E9EBEC;
  margin: 0 20px;
  padding: 5px 10px;
  border: 0;
}

.reviews .card h5{
  color: #30A499;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 1px;
}

.reviews .card h5 span{
  font-size: 13px;
  font-weight: 400;
  color: #1DBF73;
  letter-spacing: normal;
}

.reviews h6{
  font-size: 15px;
  color: #EC5554;
}

#testimonials .owl-carousel .owl-item img {
  display: inline;
  width: 30px;
  box-shadow: 5px 0 5px #E9EBEC;
}

.reviews h6 span img{
  height: 20px;
}

.reviews .card p{
  font-size: 14px;
  color: #555;
  padding-bottom: 15px;
}

.owl-item > div{
  cursor: pointer;
  margin: 5% 0%;
  transition: margin 0.4s ease;
}

.owl-item.center > div{
  cursor: pointer;
  margin: 0;
}

.reviews .active{
  opacity: 0.5;
  transition: all 0.25s ease;
}

.reviews .center{
  opacity: 1;
} 


.reviews .owl-stage-outer{
  padding: 30px 0;
}

.reviews .owl-dots{
  text-align: center;
}

.reviews .owl-dots span{
  position: relative;
  height: 14px;
  width: 14px;
  border-radius: 20px;
  display: block;
  background: #fff;
  border: 2px solid #2bb0ef;
  transition: all 0.25s ease;
  margin: 0 4px;
}

.reviews .owl-dots .active span{
  background: #2bb0ef;
  box-shadow: none;
  height: 14px;
  width: 20px;
  position: relative;
  transition: all 0.25s ease;
}

.reviews .owl-dots .active{
  box-shadow: none;
}


/* contact section */
.contact-section{
  padding: 60px 0;
}

.contact-section a{
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
}

.contact-section a:hover{
  color: black;
}

.icon-box{
  padding: 25px 25px;
  background-color: #30A499;
  /* width: 100px; */
}

.icon-box i{
  color: white;
  font-size: 20px;
}

.content-box{
  padding: 25px 50px;
  background-color: #2bb0ef;
  margin-left: 20px;
  width: 400px;
}

/* preloader */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calC(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after{
  content: "";
  border: 10px solid #2D98F0;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before{
  animation-delay: .5s;
}

@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }

  50%{
      opacity: 1;
  }

  100%{
      transform: scale(1);
      opacity: 0;
  }
}


/* works section */

#works{
  padding-top: 70px;
}

#works ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-inline-start: 0px;
}

#works ul li{
  list-style: none;
  background: #2D98F0;
  color: white;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.4s ease;
}

#works ul li.active{
  background: #4155B2;
}

.projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .itemBox{
  position: relative;
  width: 400px;
  height: 200px;
  margin: 10px;
  box-shadow: 5px 0 5px #E9EBEC;
}

.projects .itemBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* hover effect */
.project-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  /* background: rgb(45, 152, 240); */
  background: rgb(45, 152, 240, 0.7);
  opacity: 0;
}

.hover-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  border-right: 3px solid #fff;
  color: #fff;
  padding: 0 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.itemBox:hover .hover-description {
  opacity: 1;
  transform: none;
}

.itemBox:hover .project-overlay{
  opacity: 1;
}


/* modal window */
.modal-body {
  background-color: #F8F8F8;
  border-color: #F8F8F8;
  padding-bottom: 60px;
  padding-right: 30px;
  padding-left: 30px;
}

.modal img{
  box-shadow: 5px 0 5px #E9EBEC;
}

.modal-header{
  background-color: #E9EBEC;
  border: none;
  padding: 20px;
}

.intro-1 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

.close {
  color: #000;
}

.close:hover {
  color: #000;
}

.intro-2 {
  font-size: 13px;
  color: #000;
}

.modal .btn-primary {
  color: #fff;
  background-color: #2D98F0;
  border-color: #2D98F0;
  padding: 12px;
  font-weight: 700;
  border-radius: 41px;
  padding-right: 20px;
  padding-left: 20px;
}




/* small screen menu */
#topside{
  width: 100%;
  height: 50px;
  background-color: #FFF;
}




/* media queries */
@media only screen and (max-width: 991px) {
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }

  .about-right ul {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  #rightside{
    padding: 25px;
  }

  .about-data{
    margin-left: 0;
  }
  
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: 0;
  }
  .main-timeline .title {
      margin-bottom: 10px
  }

  footer{
    display: block;
  }

  footer p{
    margin-top: -10px;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 974px){
  #rightside{
    padding-left: 380px;
  }

  #leftside{
    width: 320px;
  }
}

@media only screen and (min-width: 975px) and (max-width: 991px){
  #leftside{
    width: 350px;
  }

  #rightside{
    padding-left: 400px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1120px){
  #leftside{
    width: 320px;
  }

  #rightside{
    padding-left: 370px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1120px){
  #leftside{
    padding: 0 50px;
  }
}

@media only screen and (min-width: 1200px){
  #home{
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1572px){
  #leftside{
    width: 400px;
  }

  #rightside{
    padding-left: 450px;
  }

  #about .box-stats p:before {
    width: 10px;
  }
  
}

@media only screen and (min-width: 1200px) and (max-width: 1390px){
  #leftside{
    width: 400px;
  }

  #rightside{
    padding-left: 450px;
  }

  #about .box-stats{
    width: 100%;
  }

  #about .box-stats p {
    padding-left: 10px;
  }

  #about .box-stats p:before {
    width: 5px;
  }
  
}

@media only screen and (min-width: 992px) {

  .hover-description {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {

  .hover-description {
    width: 50%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 874px){
  .projects .itemBox{
    width: 300px;
    height: 150px;
  }

  .content-box{
    margin-left: 5px;
  }
}